{% extends 'base.html.twig' %}

{% block title %}Colis index{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<script src="templates/leaflet/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="templates/leaflet/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1>Colis index</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Prix</th>
                <th>Poid</th>
                <th>Actions</th>
                <th>place</th>
            </tr>
        </thead>
        <tbody>
            {% for coli in colis  %}
            <tr>
                <td>{{ coli.id }}</td>
                <td>{{ coli.reference }}</td>
                <td>{{ coli.prix }}</td>
                <td>{{ coli.poid }}</td>
                
                <td>
                    <a class="btn btn-primary" href="{{ path('app_colis_show', {'id': coli.id}) }}">Show</a>
                    <a class="btn btn-primary" href="{{ path('app_colis_edit', {'id': coli.id}) }}">Edit</a>
                    <button class="btn btn-primary">Button 3</button>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td>{{ livraisons[0].localisation}}</td>
                <td>
                    <a class="btn btn-primary">Show</a>
                    <a class="btn btn-primary">Edit</a>
                    <button class="btn btn-primary">Button 3</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class='mappeu'>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            #map {
                width: 100%;
                height: 50vh;
            }
        </style>
        <div id="map"></div>
        <script>
            const apiUrl = 'https://127.0.0.1:8000/localisation/place/{{ livraisons[0].localisation}}';
            fetch(apiUrl).then(response => response.json()).then(data => {
                fromlatitude = data.fromlatitude;
                fromlongitude = data.fromlongitude;
                tolatitude = data.tolatitude;
                tolongitude = data.tolongitude;
                var map = L.map('map').setView([fromlatitude, fromlongitude], 8);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                var marker1 = L.marker([fromlatitude, fromlongitude]).addTo(map);
                var marker2 = L.marker([tolatitude, tolongitude]).addTo(map);

                // Check if L.Routing is defined
                if (L.Routing) {
                    L.Routing.control({
                        waypoints: [
                            L.latLng(fromlatitude, fromlongitude),
                            L.latLng(tolatitude, tolongitude)
                        ]
                    }).addTo(map);
                } else {
                    console.error('Leaflet Routing Machine library is not loaded properly.');
                } 
             }).catch(error => console.error('Fetch error:', error));
        </script>
    </div>
</div>

{% endblock %}
