
{% extends 'base.html.twig' %}

{% block title %}Colis index{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<h1>Colis index</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Prix</th>
                <th>Poid</th>
                <th>Actions</th>
                 <th>place</th>
            </tr>
        </thead>
        <tbody>
            {% for coli in colis  %}
            <tr>
                <td>{{ coli.id }}</td>
                <td>{{ coli.reference }}</td>
                <td>{{ coli.prix }}</td>
                <td>{{ coli.poid }}</td>
                
                <td>
                    <a class="btn btn-primary" href="{{ path('app_colis_show', {'id': coli.id}) }}">Show</a>
                    <a class="btn btn-primary" href="{{ path('app_colis_edit', {'id': coli.id}) }}">Edit</a>
                    <button class="btn btn-primary">Button 3</button>
                </td>
            </tr>
            {% endfor %}

             
            <tr>
                <td>{{ livraisons[0].localisation}}</td>
                <td>
                    <a class="btn btn-primary">Show</a>
                    <a class="btn btn-primary">Edit</a>
                    <button class="btn btn-primary">Button 3</button>
                </td>
            </tr>
            
        </tbody>
    </table>

    
    <div class='mappeu'>
    <style>
    body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 50vh;
        }
        </style>
    <div id="map"></div>
    <script>

    //bech nekhdhou localisation mta3 les colis
    console.log('livraison n:{{ livraisons[0].localisation}}');
    let latitude1, longitude1;
    const apiUrl = 'https://127.0.0.1:8000/localisation/place/{{ livraisons[0].localisation}}';
    fetch(apiUrl).then(response => response.json()).then(data => {
        latitude = data.latitude;
        longitude = data.longitude;
        // Map initialization 
        var map = L.map('map').setView([ latitude , longitude], 18);
        var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);
    if(!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!")
    } else {
            navigator.geolocation.getCurrentPosition(getPosition);
    }

    var marker, circle;
    function getPosition(position){
        console.log(position)
        var lat = position.coords.latitude
        var long = position.coords.longitude
        var accuracy = position.coords.accuracy

        if(marker) {
            map.removeLayer(marker)
        }

        if(circle) {
            map.removeLayer(circle)
        }
        
        
    
        marker = L.marker([latitude, longitude])
        circle = L.circle([latitude, longitude])

        var featureGroup = L.featureGroup([marker, circle]).addTo(map)

        map.fitBounds(featureGroup.getBounds())

        
    }

    }).catch(error => console.error('Fetch error:', error));

    

</script>

    </div>



{% endblock %}
